<section class="about-me">
  <h1>关于我</h1>
  <div class="thumb">
      <span></span>
      <p>三重水</p>
      <p>学习，积累，反思，阅读，分享</p>
  </div>  
  <p><a href="https://github.com/wenyang12" target="_blank">github</a><a href="http://wenyang12.github.io/" target="_blank">博客</a><a
          href="http://www.w3cfuns.com/house/13989/note" target="_blank">前端网</a>
          <!-- <a href="http://wenyang.sinaapp.com/" target="_blank">笔记</a>
          <a href="http://ywenblog.sinaapp.com/" target="_blank">WordPress</a> -->
        </p>
</section>
